// Styles for div that changes color only once and remains second color

* {
  font-family: Arial;
}

$firstColor: red;
$secondColor: yellow;
$time: 4s;

.frame {
  width: 400px;
  height: 400px;
  top: 50%;
  left: 50%;
  margin-top: -200px;
  margin-left: -200px;
  background-color: $secondColor;
  border-radius: 2px;
  position: absolute;

  animation-name: example;
  animation-duration: $time;
}

// Animations!!!!

@keyframes example {
  from {background-color: $firstColor;}
  to {background-color: $secondColor;}
}
