// Styling for div that 'fades in'--the transition isn't very smooth, though

* {
  font-family: Arial;
}

.frame {
  width: 400px;
  height: 400px;
  top: 50%;
  left: 50%;
  margin-top: -200px;
  margin-left: -200px;
  background-color: black;
  border-radius: 2px;
  position: absolute;

  animation-name: fade-in;
  animation-duration: 1s;
}

// Animations!!!!

@keyframes fade-in {
  0% {background-color: rgba(0,0,0,0);}
  25% { background-color: rgba(0,0,0,0.25);}
  50% { background-color: rgba(0,0,0,0.5);}
  75% { background-color: rgba(0,0,0,0.75);}
  100% {background-color: rgba(0,0,0,1);}
}